@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #999696;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #999696;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.zoom-controls {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.zoom-controls button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.animate-fade-in-out {
  animation: fadeInOut 2s ease-in-out;
}
